.App 
{
  text-align: center;
  align-content: center;
  align-items: center;
  align-items: center;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 235px;
  color: red;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: .80em;
  }


h2 { 
  margin:0px;
  font-size: 45px;
  color: blue;
  padding: 0px;
}

.Info-Row 
{
margin-top: 3px;
}
.Info-icon 
{
  margin:2px;
}

.Subtle-button {
  margin-top:4em;
  margin-left:.25em;
  margin-right:.25em;
  border-radius: .5em;
  border:0px;
  border-style: none;
}

.Footer {
  padding:5px;
}


#IconContainer {
  height:130px;
  font-size: 150px; 
  margin-top: 0px;
  margin-bottom: 30px;

}

.Apple::after
{
  content: "\01F34E";
}

.Acorn::after
{
  content: "\01F330";
}

.Angel::after
{
  content: "\01F47C\01F3FD";
}

.Ball::after
{
  content: "\026BD";
}

.Bear::after
{
  content: "\01F43B";
}

.Book::after
{
  content: "\01F4D5";
}

.Balloon::after
{
  content: "\01F388";
}

.Bell::after
{
  content: "\01F514";
}


.Car::after
{
  content: "\01F697";
}

.Crayon::after
{
  content: "\01F58D\0FE0F";
}

.Cookie::after
{
  content: "\01F36A";
}

.Carrot::after
{
  content: "\01F955";
}

.Clock::after 
{
  content: "\01F570\0FE0F";

}

.Dog::after
{
  content: "\01F415";
}

.Doughnut::after
{
  content: "\01F369";
}

.Duck::after
{
  content: "\01F986";
}

.Dinosaur::after
{
  content: "\1F996";
}

.Elephant::after
{
  content: "\01F418";
}

.Ear::after 
{
  content: "\01F442";
}

.Egg::after 
{

  content: "\01F95A";
}

.Frog::after
{
  content: "\01F438";
}

.Fish::after
{
  content: "\01F420";
}

.Foot::after
{
  content: "\01F9B6\01F3FE";
}

.Flowers::after
{
  content: "\1F490";
}

.Golf::after 
{
  content: "\026F3";
}

.Grapes::after
{
  content: "\01F347";
}

.House::after
{
  content: "\01F3E0";
}

.Hat::after 
{
  content: "\01F9E2";
}

.Hand::after
{
  content: "\0270B";
}

.Heart::after
{
  content: "\02764\0FE0F";
}

.India::after 
{
  content: "\01F1EE\01F1F3";
}

.Ice-Cream::after
{
  content: "\01F368";
}

.Juggle::after 
{
  content: "\01F939";
}

.Judge::after 
{
  content: "\1F469\1F3FD\200D\2696\FE0F";
}

.Koala::after 
{
  content: "\01F428";
}

.Kitten::after
{
  content: "\1F431";
}

.King::after
{
  content: "\1F934\1F3FD";
}
.Lion::after 
{
  content: "\01F981";
}

.Lemon:after
{
  content: "\01F34B";
}

.Milk::after
{
  content: "\1F95B";
}

.Monkey::after
{
  content: "\01F435";
}


.Night::after
{
  content: "\01F303";
}

.Nose::after
{
  content: "\01F443";
}

.Orange::after
{
  content: "\01F34A";
}

.Owl::after
{
  content: "\01F989";
}

.Penguin::after
{
  content: "\01F427";
}

.Queen::after 
{
  content: "\1F478\1F3FD";
}

.Rainbow::after
{
  content: "\01F308";
}

.Snail::after
{
  content: "\01F40C";
}

.Shoe::after
{
  content: "\01F45F";
}

.Train::after
{
  content: "\01F682";
}

.Truck::after 
{
  content: "\01F69A";
}

.Umbrella::after
{
  content: "\02602";
}

.Victory::after {
  content: "\0270C\0FE0F";
}

.Violin::after {
content: "\01F3BB";
}

.Water::after
{
  content: "\01F30A";
}

.Whale::after
{
  content: "\01F40B";
}

.Wolf::after
{
  content: "\01F43A";
}

.Watermelon::after
{
 content: "\01F349";
}

.Xenon::after
{
  content: "\0269B\0FE0F";
}


.Yoga::after
{
  content: "\01F9D8\01F3FE";
}


.Yak::after
{
  content: "\01F403";
}

.Yemen::after
{
  content: "\01F1FE\01F1EA";
}

.Yellow::after
{
  content: "\025fc\025fc";
  color: yellow;
}

.Zebra::after 
{
  content: "\01F993";
}
